<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
     <!-- C:\Users\Admin\Desktop\Wizualne\Brewery\UserInterface\DAOLogic.dll-->
      <add key="Library" value="DAOLogic.dll"/>
    </appSettings>
   
</configuration>